.section-index {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  
  > div {
    gap: 1rem;
    display: flex;
    flex-direction: row;

    :first-child {
      width: 20%;
    }
    
    :last-child {
      width: 80%;
    }
  }
}
