<footer class="footer footer-center p-8 bg-base-300 text-base-content rounded">
    <nav class="flex flex-row gap-4 flex-wrap flex-1 justify-center">
        <a class="link" href="/atom.xml">Feed</a>
        <a class="link" href="https://gitlab.com/HanKruiger">GitLab</a>
        <a class="link" href="https://github.com/HanKruiger">GitHub</a>
        <a class="link" rel="me" href="https://mastodon.nl/@hankruiger">Mastodon</a>
        <a class="link" href="https://www.linkedin.com/in/hankruiger/">LinkedIn</a>
    </nav>
    <div class="flex flex-col gap-2">
        <div>
            <p>
                Want to fix a typo? <a class="link" href="https://github.com/HanKruiger/hankruiger.com/issues">Let me know!</a>
            </p>
        </div>
        <div class="mt-4">
            <div id="wcb" class="carbonbadge wcb-d"></div>
            <script src="/carbonbadge/carbonbadge.min.js" defer></script>
        </div>
        <div>
            <p>
                &copy; {{ now() | date(format="%Y") }} Han Kruiger
            </p>
        </div>
    </div>
</footer>
