<footer>
    <div>
        <a href="/atom.xml">Feed</a>
        &middot;
        <a href="https://gitlab.com/HanKruiger">GitLab</a>
        &middot;
        <a href="https://github.com/HanKruiger">GitHub</a>
        &middot;
        <a href="https://twitter.com/JFKruiger">Twitter</a>
    </div>
    <div>
        Want to fix a typo? <a href="https://github.com/HanKruiger/hankruiger.com/issues">Let me know!</a>
    </div>
    <div>
        &copy; {{ now() | date(format="%Y") }} Han Kruiger
    </div>
</footer>
