<footer class="shrink-0 flex flex-row content-center mt-4 bg-base-300">
    <div class="flex flex-col max-w-xl mx-auto py-4 items-center gap-2">
        <div class="flex flex-row gap-2 px-1 flex-wrap justify-center">
            <a class="link" href="/atom.xml">Feed</a>
            &middot;
            <a class="link" href="https://gitlab.com/HanKruiger">GitLab</a>
            &middot;
            <a class="link" href="https://github.com/HanKruiger">GitHub</a>
            &middot;
            <a class="link" rel="me" href="https://mastodon.nl/@hankruiger">Mastodon</a>
            &middot;
            <a class="link" href="https://www.linkedin.com/in/hankruiger/">LinkedIn</a>
        </div>
        <div>
            Want to fix a typo? <a class="link" href="https://github.com/HanKruiger/hankruiger.com/issues">Let me know!</a>
        </div>
        <div>
            &copy; {{ now() | date(format="%Y") }} Han Kruiger
        </div>
    </div>
</footer>
