<script>
    window.goatcounter = {
        // Honor DNT
        no_onload: ('doNotTrack' in navigator && navigator.doNotTrack === '1'),
        // Simple method for removing queries from URL.
        path:      location.pathname || '/',
        // Very simplistic method to get referrer from URL (e.g. ?ref=Newsletter)
        referrer:  (window.location.search ? window.location.search.split('=')[1] : null),
    };
</script>
<script data-goatcounter="https://hankruiger_com.goatcounter.com/count"
        async src="//gc.zgo.at/count.js">
</script>