<script>
    (function() {
        if ('doNotTrack' in navigator && navigator.doNotTrack === '1')
            return;

        window.goatcounter = window.goatcounter || {};
        window.goatcounter.vars = {
            // Very simplistic method to get referrer from URL (e.g. ?ref=Newsletter)
            referrer: (window.location.search ? window.location.search.split('=')[1] : null),
        };

        window.counter = 'https://hankruiger_com.goatcounter.com/count'

        var script = document.createElement('script');
        script.async = 1;
        script.src = '//gc.zgo.at/count.js';
        var ins = document.getElementsByTagName('script')[0];
        ins.parentNode.insertBefore(script, ins)
    })();
</script>