{#
    Find the relevant section. That can be the section that we're in, or the section 
    that the page is in. The anchor element for the section will receive a special
    class below.
 #}
{% if not section %}
    {% set relevant_section = get_section(path=page.ancestors | last, metadata_only=true) %}
{% else %}
    {% set relevant_section = section %}
{% endif %}

<header>
    {% for header_section_path in config.extra.header_section_paths %}
        {% set header_section = get_section(path=header_section_path, metadata_only=true) %}
        <a href="{% if header_section.path != '/' %}/{% endif %}{{ header_section.path | safe }}"
            {% if header_section.path == relevant_section.path %}
                class="active_section"
            {% endif %}
        >{{ header_section.title }}</a>
    {% endfor %}
</header>
