<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="{% block description %}{{section.description}}{% endblock description %}">
        <link rel="shortcut icon" href="/favicon.png" type="image/png">
        <link rel="stylesheet" href="/main.css">
        <title>Han | {% block title %}{{ section.title }}{% endblock title %}</title>
    </head>
    <body>
        {% include "header.html" %}
        <main>
            {% block content %}
                {{ section.content | safe }}
            {% endblock content %}
        </main>
        {% include "footer.html" %}
    </body>
</html>
