{% extends "index.html" %}

{% block head_extra %}
    {% if section.path == "/posts/" %}
        <link rel="alternate" type="application/atom+xml" title="Atom feed" href="/atom.xml">
    {% endif %}
{% endblock head_extra %}

{% block content %}
    {{ section.content | safe }}
    {% if section.pages %}
        <div class="section-index">
            {% for page in section.pages %}
                <div>
                    <div>{{page.date | date(format="%b %e, %Y") }}</div>
                    <div><a href="{{ page.path }}">{{ page.title }}</a></div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
